@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@500&display=swap');
body {
    box-sizing: border-box;
    width: 20rem;
    display: flex;
    font-family: 'Playpen Sans', cursive;
    font-display: swap;
    font-size: 35px
}
.wrapper {
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.3);
    border: 1px solid rgba(225, 225, 225, 1);
    border-radius: 10px;
    flex-basis: 400px;
    padding: 10px 20px;
}
.header {
    display: flex;
    justify-content:space-between;
    color:rgb(0, 145, 255)
    
}
#add_button {
    color: rgb(0, 145, 255);
    background-color: inherit;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    border: 0;
    font-size: 35px;
}
#add_button:hover {
    background-color: rgb(244, 244, 244);
}
#add_button:active {
    color: rgb(0, 131, 232);
    background-color: rgb(223, 223, 223);
}
#task_entry_box {
    border: 0;
    background-color: rgb(237, 235, 235);
    border-radius: 5px;
    font-size: 16px;
}
ul {
    font-size: 14px;
    list-style: none;
    padding-left: 0;
}
li {
    display: flex;
    justify-content: space-between;
}
li button {
    color: rgb(0, 145, 255);
    border: 0;
    background-color: inherit;
    margin-left: auto;
}
li button:hover {
    background-color: rgb(244, 244, 244);
}
li button:active {
    color: rgb(0, 131, 232);
    background-color: rgb(223, 223, 223);
}
.status:hover {
    cursor: pointer;
}