body {
    box-sizing: border-box;
    width: 20rem;
    background: rgb(26, 25, 36);
    display: flex;
    font-family: futura, sans-serif;
    font-display: swap;
    font-size: 35px
}
.wrapper {
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background: rgba(225, 225, 225, 0.75);
    border: 1px solid rgba(225, 225, 225, 0.01);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
    color: #232323;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    background: rgba(225, 225, 225, 0.3);
    border: 1px solid rgba(225, 225, 225, 0.34);
    flex-basis: 400px;
    height: 350px;
    padding: 10px 20px;
    color: white;
}
.header {
    display: flex;
    justify-content: space-between;
    
}
#add_button {
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background: rgba(225, 225, 225, 0.75);
    border: 1px solid rgba(225, 225, 25, 0.1);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
    color: #232323;
    font-family: inherit;
    font-size: 24px;
    height:40px;
    width: 40px;
    background-color: white;
}
#add_button:hover {
    background-color: inherit;
}
#add_button:active {
    background-color: rgb(250, 238, 14);
}
#task_entry_box {
    border-radius: 5px;
    border: 1px solid rgba(225, 225, 25, 0.1);
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
    font-size: 16px;
}
ul {
    list-style-type: none;
    padding-inline-start: 0;
    margin: 1rem 0;
    font-size: 14px;
}
ul li span {
    position: absolute;
    right: 25px;
    font-size: 16px;
}
ul li span:hover {
    cursor: pointer;
    color: rgb(250, 238, 14);
}
ul li span:active {
    color: rgb(245, 74, 31);
}
li {
    padding: 0.25rem;
}
li:nth-child(odd) {
    background: #80808030;
}
li:nth-child(even) {
    background: #ffffff;
    color: black;
}